
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categoria do Produto</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome da Categoria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in ViewBag.Categorias)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
